/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lora, Georgia, serif;
    font-size: 16px;
    color: #111;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 7px 20px;
    background-color: #111;
}

    header a {
        color: #fff;
        text-decoration: none;
    }

    nav a {
        margin-left: 15px;
        text-decoration: none;
        border-bottom: 2px solid #111;
        transition: 0.5s;
        padding-bottom: 2px;
    }

    nav a:hover {
        border-bottom: 2px solid #fff;
    }


img.ad {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

main {
    max-width: 920px;
    padding: 10px 20px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

p {
    line-height: 1.7;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

/* POST */

.article-header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.article-header h2 {
    font-family: Lora, Georgia, Times, serif;
    font-style: italic;
    font-size: 36px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.article-header p {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

article {
    display: flex;
    justify-content: space-between;
}

.post-content {
    max-width: 580px;
}

ul.post-list {
    max-width: 300px;
}

ul h3 {
    color: #111;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-bottom: 10px;
}

li {
    margin-bottom: 10px;
}

li a {
    color: #111;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}

    li a:hover {
        color: #1955a5;
    }

/* HOME PAGE */

.home-wrapper {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    max-width: 660px;
    margin: 0 auto;
}

img.home-wrapper {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;
}

.home-post {
    display: flex;
    justify-content: space-between;
}
 
.home-photo {
    max-width: 275px;
}

.home-text {
    max-width: 350px;
}


/* FOOTER */

footer {
    border-top: 1px solid #eee;
    max-width: 100%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 15px 0 15px 20px;
    font-size: 12px;
}

footer li {
    display: inline;
    padding: 0 5px;
}

footer li:first-child {
    padding-left: 0;
}

footer a {
    color: #111;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }


/* TABLE */

table {
    width: 100%;
    text-align: left;
  }

th, td {
    padding: 10px;
    background-color: #eee;
}

table a {
    color: #111;
    text-decoration: none;
}
    
table a:hover {
    color: #1955a5;
}


@media screen and (max-width: 1090px) {
   
    article {
        justify-content: space-evenly;
    }

    .post-content {
        max-width: 980px;
    }

    .post-list {
        display: none;
    }

    footer {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    header {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 5px;
    }

    header h1 {
        font-size: 14px;
    }

    nav a {
        font-size: 12px;
    }

    .article-header {
        padding: 0;
        margin-bottom: 10px;
        border: none;
    }

    .article-header h2 {
        font-size: 20px;
        padding-bottom: 5px;
        margin-bottom: 2px;
        border: none;
    }

    .article-header p {
        font-size: 12px;
        margin-bottom: 2px;
    }

    article p {
        font-size: 14px;
    }

    .home-photo {
        display: none;
    }

    .home-post {
        justify-content: space-evenly;
    }

}